.jumbotron {
    background-image: url(mesmerizing-scenery-green-mountains-with-cloudy-sky-surface.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron .overlay{
    width: 100%;
    padding: 100px 0;
    background: rgba(0,0,0, 0.5);
    color: white;
}

.overview .container .row h1{
    padding-bottom: 2rem;
}

.product {
    background-image: url(waterfall-samoa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.product h1{
    color: white;
}

.product .overlay{
    padding: 30px 0;
    width: 100%;
    background: rgba(0,0,0, 0.7);
}

.testimoni{
    background-color: rgb(250, 148, 52);
}

.carousel-inner{
    height: 500px;
}

.testi {
    padding-top: 100px;
}

.contact .judul{
    padding-top: 70px;
    color: white;
}

.contact .logo{
    background-color: rgb(250, 148, 52);
}